@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.menu {
  position: relative;
  left: 13.8rem;
}

.menu-icon {
  position: relative;
  left: 8.2rem;
}

.navigation {
  background-color: #fff;
  width: 119%;
  height: 4rem;
  position: relative;
  left: -2rem;
  top: -2rem;
}

.nav-links {
  visibility: hidden;
}

#bio-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-image: url(img/backg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-bottom-left-radius: 11%;
  width: 119%;
  height: 37rem;
  position: relative;
  top: -4.3rem;
  left: -2rem;
}

.bio {
  border-bottom-left-radius: 11%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.logo {
  width: 6rem;
  height: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  left: 1rem;
}

.bio-header {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  letter-spacing: 0.37px;
  color: #172b4d;
  width: 15rem;
  height: 11rem;
  margin-top: 5rem;
  margin-left: 1rem;
}

.bio-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: -1rem;
  color: #344563;
  margin-left: 1rem;
}

.connect {
  text-transform: uppercase;
  color: #6070ff;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 300;
}

.connect-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect-icons {
  width: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: -3.4rem;
  margin-top: 1rem;
}

.connect-icons i {
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #505f79;
  width: 1.1rem;
}

.connect-icons i:hover {
  font-size: 19px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

#cards {
  display: grid;
  gap: 10rem;
  background-color: #e5e5e5;
  margin-top: 10rem;
}

.card-items {
  display: contents;
  width: 311px;
  position: relative;
}

.card {
  width: 16rem;
  height: 34rem;
  border: 2px solid lightgray;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.1rem;
  position: relative;
  background-color: #fff;
}

.card-img {
  height: 13rem;
  border-radius: 8px;
}

.connect-2 {
  color: #7f8cff;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card h2 {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-props {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  position: relative;
  bottom: 39px;
  padding-left: 5px;
  left: -26px;
}

.card-prop {
  position: relative;
  right: 8px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
  margin-left: 5px;
  text-decoration: none;
}

.card-items .card-prop a {
  font-weight: 600;
  text-transform: uppercase;
  color: #2e4662;
}

.card-text {
  position: relative;
  bottom: 73px;
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-languages {
  display: flex;
  position: relative;
  right: 4rem;
  bottom: 6rem;
  justify-content: space-between;
}

.card-language {
  font-size: 11px;
  background-color: #eaebfe;
  border-radius: 9px;
  color: #6070ff;
  margin-left: 1rem;
  width: max-content;
  position: relative;
  left: 2rem;
  padding-left: 1rem;
}

.card-language p {
  position: relative;
  left: -0.5rem;
}

.card-btn {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 131px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
  position: relative;
  bottom: 114px;
  height: 49px;
  right: 28%;
}

#about-section {
  position: relative;
  left: -30.8px;
  top: 197px;
  border-top-right-radius: 98px;
  margin-top: 198px;
  height: 1132px;
  width: 99%;
}

.about-heading {
  width: 327px;
  height: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-text {
  width: 327px;
  height: 147px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume-btn {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 153px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
}

.languages,
.frameworks,
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 34px;
  height: 12px;
}

.languages h2,
.frameworks h2,
.skills h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lan {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  position: relative;
  right: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lan p {
  position: relative;
  right: 46%;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.lan img {
  position: relative;
  left: 3%;
}

.lefter-1 {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  right: 73px;
}

.lefter-2 {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  right: 188px;
}

button:enabled {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  background: white;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #6070ff;
}

button:active {
  color: white;
  background-color: #0034cd;
}

button:disabled {
  color: #5a6c83;
  border: none;
}

section {
  background-color: #fff;
  overflow-x: hidden;
}

.about-me {
  margin-right: 12px;
}

.about-1,
.about-2 {
  margin-right: 12px;
}

#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 88px;
  width: 375px;
  height: 918px;
  background-image: url("./img/contact\ form\ shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right;
  background-color: #6070ff;
  position: relative;
  align-items: center;
  right: 32px;
  border-top-left-radius: 98px;
  text-align: center;
  top: 32px;
}

.contact-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 149px;
}

.contact-description {
  width: 327px;
  height: 137px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  position: relative;
  bottom: 38px;
}

.contact-form {
  position: relative;
  top: 21px;
}

.form-items li {
  margin-top: 22px;
  position: relative;
  right: 12px;
  bottom: 54px;
}

.contact-form input {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-form input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 12px;
}

.contact-form textarea {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-form textarea::placeholder {
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-form button {
  display: flex;
  padding: 12px 16px;
  width: 153px;
  height: 50px;
  left: 24px;
  top: 5317px;
  background-color: #fff;
  border-radius: 8px;
}

.cancel {
  width: 42%;
  position: relative;
  top: -0.5rem;
  left: 11.8rem;
  display: none;
  z-index: 2;
  opacity: 60%;
}

/* Javascript selector styles */

.blur {
  filter: blur(6px);
}

.showit {
  visibility: visible;
}

.hideit {
  visibility: hidden;
}

.mobile-links {
  position: relative;
  display: flex;
  left: -21rem;
  top: -1.8rem;
  width: 50rem;
  z-index: 1;
  flex-direction: column;
  gap: 1rem;
  height: 1000vh;
  background-color: #6070ff;
  opacity: 80%;
  outline: 287px solid  #6070ff;
}

.mobile-links .mobile-link {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  left: 4rem;
  top: 5rem;
  color: white;
}

/* End of Javascript Selector styles */

/* Desktop Styles */
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    display: none;
  }

  .nav-links {
    display: flex;
    visibility: visible;
    gap: 32px;
    position: relative;
    bottom: 15px;
    right: 10.76%;
  }

  .nav-links a {
    width: 46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .navigation,
  #bio-section,
  #about-section,
  #contact-me {
    width: 119%;
    overflow-x: hidden;
  }

  .navigation {
    z-index: 1;
    height: 4.2rem;
    width: 119%;
    position: relative;
    top: -2rem;
  }

  #bio-section {
    height: 112vh;
    position: relative;
    background-image: url(img/desk-bg.png);
    background-size: 100% auto;
    top: -7rem;
  }

  #bio-section .content {
    padding: 10%;
    width: 80vw;
    position: relative;
    top: 4%;
  }

  .bio-header {
    width: 44vw;
  }

  .bio-text {
    font-size: 1rem;
  }

  #cards {
    display: flex;
    flex-direction: column;
    gap: 88px;
    justify-content: center;
    position: relative;
    left: 5rem;
  }

  .card {
    width: 65rem;
    height: 70%;
    position: relative;
    left: 9.86%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-img img {
    height: 23rem;
    width: 27rem;
    position: relative;
    top: -5.1rem;
    left: -1rem;
  }

  .card-items {
    width: 26rem;
    height: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12%;
    position: relative;
    left: -6%;
    top: -16%;
  }

  .card-props {
    width: 100%;
  }

  .card-text {
    width: 113%;
  }

  .card-languages {
    position: relative;
    left: -38%;
    top: -40%;
  }

  .card-btn {
    position: relative;
    left: -40%;
    top: -46%;
  }

  .card h2 {
    position: relative;
    top: 8%;
    left: -22%;
  }

  #oppo {
    left: -29.5rem;
  }

  #oppo2 {
    position: relative;
    left: 36rem;
  }

  .connect .connect-text {
    margin-bottom: 2%;
    margin-top: 1%;
  }

  .card-language p {
    height: 0.01rem;
    text-align: center;
    position: relative;
    top: -0.5rem;
  }

  #about-section {
    height: 58rem;
    margin-top: -4rem;
    position: relative;
  }

  #about-section .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 21%;
    position: relative;
    left: 7rem;
  }

  #about-section .connect {
    width: 20rem;
    position: relative;
    top: -3rem;
  }

  #about-section .connect .connect-text {
    margin-bottom: 1rem;
  }

  #about-section .resume-btn {
    position: relative;
    top: -2rem;
    left: -0.2rem;
  }

  .about-text {
    width: 28rem;
  }

  .about-2 {
    position: relative;
    left: -9rem;
    top: 3rem;
  }

  .about-2 .lang {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 2rem;
    gap: 1rem;
    width: 1rem;
  }

  .about-2 .lang .lan {
    position: relative;
    left: -5rem;
    height: 7rem;
    width: 7rem;
  }

  .about-2 .lang .lan h3,
  .about-2 .lang .lan p {
    position: relative;
    left: -2.4rem;
    top: 0.6rem;
    margin-top: 1rem;
  }

  .lan img {
    height: 38%;
    position: relative;
    top: -2rem;
  }

  #contact-me {
    background-image: url(img/desko-bg.png);
    background-position-x: right;
    background-size: 71rem;
  }

  .contact-form button {
    margin-left: 29%;
  }

  #seth,
  #seth1 {
    position: relative;
    left: -7rem;
  }

  .separate {
    width: 35rem;
  }

  .classy {
    width: 12px;
    height: 10px;
  }

  #contact-me .contact-description {
    width: 33rem;
  }

  #contact-me form input,
  #contact-me form textarea {
    width: 30rem;
  }

  #contact-me form button {
    position: relative;
    top: 0.6rem;
    left: 3rem;
  }

  .logo {
    position: relative;
    left: 6rem;
    visibility: hidden;
  }
}
