@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.navigation {
  background-color: #fff;
  width: 371px;
  height: 50px;
  position: relative;
  left: -30px;
  top: -33px;
}

.nav-links {
  visibility: hidden;
}

.bio-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-image: url(img/backg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-bottom-left-radius: 11%;
  width: 373px;
  height: 554px;
  position: relative;
  left: -31px;
  top: -49px;
}

.bio {
  border: 2px transparent #fff;
  border-bottom-left-radius: 11%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 1px;
}

.logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  text-decoration: none;
}

.bio-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  letter-spacing: 0.37px;
  color: #172b4d;
  width: 327px;
  height: 150px;
  margin-top: 82px;
}

.bio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 80vw;
  margin-top: -20px;
  color: #344563;
}

.connect {
  text-transform: uppercase;
  color: #6070ff;
  font-size: 16px;
  font-weight: 300;
}

.connect-text {
  margin-top: -11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect-icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-left: -58px;
  margin-top: -5px;
}

.connect-icons i {
  margin-left: 19px;
  font-size: 21px;
  color: #505f79;
  height: 19.96px;
  width: 19.99px;
}

.connect-icons i:hover {
  font-size: 19px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.cards {
  display: grid;
  gap: 88px;
  background-color: #e5e5e5;
  margin-top: 100px;
}

.card {
  width: 311px;
  height: 552px;
  border: 2px solid lightgray;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  position: relative;
  left: -15px;
  background-color: #fff;
}

.card-img {
  width: 311px;
  height: 220px;
  border-radius: 8px;
  margin-top: 11px;
  margin-left: 14px;
}

.connect-2 {
  color: #7f8cff;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card h2 {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-props {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  position: relative;
  bottom: 39px;
  padding-left: 5px;
  left: -26px;
}

.card-prop {
  position: relative;
  right: 8px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
  margin-left: 5px;
  text-decoration: none;
}

.card-props li:first-child a {
  font-weight: 600;
  text-transform: uppercase;
  color: #2e4662;
}

.card-text {
  position: relative;
  bottom: 73px;
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-languages {
  display: flex;
  position: relative;
  right: 67px;
  bottom: 103px;
  justify-content: space-between;
}

.card-language {
  font-size: 12px;
  background-color: #eaebfe;
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  margin-left: 8px;
}

.card-btn {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 131px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
  position: relative;
  bottom: 114px;
  height: 49px;
  right: 28%;
}

.about-section {
  position: relative;
  left: -30.8px;
  top: 31px;
  border-top-right-radius: 98px;
  margin-top: 198px;
  height: 852px;
  width: 373px;
}

.about-heading {
  width: 327px;
  height: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-text {
  width: 327px;
  height: 147px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume-btn {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 153px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
}

.languages,
.frameworks,
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 34px;
  height: 12px;
}

.languages h2,
.frameworks h2,
.skills h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lan {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  position: relative;
  right: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lan p {
  position: relative;
  right: 46%;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.lan img {
  position: relative;
  left: 3%;
}

.lefter-1 {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  right: 73px;
}

.lefter-2 {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  right: 188px;
}

button:enabled {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  background: white;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #6070ff;
}

button:active {
  color: white;
  background-color: #0034cd;
}

button:disabled {
  color: #5a6c83;
  border: none;
}

section {
  background-color: #fff;
  width: 327px;
}

.about-me {
  margin-right: 12px;
}

.about-1,
.about-2 {
  margin-right: 12px;
}

.content {
  margin-left: 24px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 88px;
  width: 375px;
  height: 779px;
  background-image: url("./img/contact\ form\ shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-color: #6070ff;
  position: relative;
  align-items: center;
  border-top-left-radius: 98px;
  right: 30px;
}

.contact-description {
  color: #EBEBFF;
}

.contact-title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}